<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>165559960798108</sid>
    <event-sheet>MenuSheet</event-sheet>
    <size>
        <width>1100</width>
        <height>1600</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="101242637618031">
            <initially-visible>1</initially-visible>
            <background-color>102,0,0</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="StartText" uid="34">
                    <properties>
                        <text>PRESS ENTER TO PLAY</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-64,400,0</font>
                        <color>204,153,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>Yes</active-at-start>
                                <fade-in-time>1</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>After fade out</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <effect-instances>
                        <effect-instance type="Water">
                            <parameters>
                                <angle>7</angle>
                                <delta>20</delta>
                                <emboss>0.3</emboss>
                                <frequency>4</frequency>
                                <intensity>3</intensity>
                                <reflectivity>400</reflectivity>
                                <speed>0.02</speed>
                                <x-speed>0.02</x-speed>
                                <y-speed>0.02</y-speed>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>569</x>
                        <y>1274</y>
                        <z>0</z>
                        <width>876</width>
                        <height>192</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite2" uid="45">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>Yes</active-at-start>
                                <fade-in-time>1</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>After fade out</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>550</x>
                        <y>387</y>
                        <z>0</z>
                        <width>900</width>
                        <height>600</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Tutorial" uid="47">
                    <properties>
                        <text>Control the flippers with A and D in this epic D&amp;D adventure</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-48,400,0</font>
                        <color>255,204,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>Yes</active-at-start>
                                <fade-in-time>1</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>After fade out</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>80</x>
                        <y>810</y>
                        <z>0</z>
                        <width>940</width>
                        <height>238</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Credits" uid="48">
                    <properties>
                        <text>BG and logo by Carmen™</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-19,400,0</font>
                        <color>255,153,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Fade">
                            <properties>
                                <active-at-start>Yes</active-at-start>
                                <fade-in-time>1</fade-in-time>
                                <wait-time>0</wait-time>
                                <fade-out-time>0</fade-out-time>
                                <destroy>After fade out</destroy>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>872</x>
                        <y>1572</y>
                        <z>0</z>
                        <width>282</width>
                        <height>43</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
